body {
  background-color: #748067;
}
.recipe {
  list-style: none;
  justify-content: center;
}

.btn {
  list-style: none;
}

.btn1 {
  width: 70px;
  margin-left: 120px;
  list-style:none
}

.home-banner {
  background-image: url('https://static.independent.co.uk/s3fs-public/thumbnails/image/2018/05/22/13/gin-cocktails.jpg?w968h681');
  background-size: cover;
  height: 70vh;
  width: 100%;
  color: #eee;
  text-align: center;
  padding-top: 40vh;
}

.dose-form {
  display: block
}

.card {
  padding: 0px;
  margin-top: 20px;
  margin-left: 20px;
  list-style: none;
  text-align: center;
  text-decoration: none;
}

h1 {
  color: #795C5F;
  font-size: 50px;
  display: grid;
  justify-content: center;

}

.cocktail-container {
  margin: 0px auto;
  position: center;

}

#link-new-cocktail {
  display: grid;
  position: relative;
  margin: 0px auto;
  margin-top: 30px;
  margin-bottom: 30px;

  a{
    color: #748067;
  }


}


// .grid-container {
//   display: grid;
//   grid-template-columns: 1fr 1fr 1fr;
//   justify-content: center;
// }

.new_cocktail {
  margin-top: 20px;
}

label.label-block {
  display: block !important;
}

.card-body {
  background-color: #232020;
  a{
    color: #748067;

  }
}

.label_class {
  font-size: 20px;
  font-family: 'Merriweather', serif;
  color: #313628;
}

.recipe-body {

  li{
    display: grid;
    justify-content: center;
    color: black;
    list-style: none;
    text-decoration: none;
   }
}

.doses-body {
  color: black;
  display: grid;
  justify-content: center;

}
